<div nz-row class="row_login">
    <div nz-col nzSpan="12">
        <div class="card">
            <h1 class="title_login_form">Se connecter</h1>
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-control nzErrorTip="Veuillez saisir votre adresse email !">
                    <nz-input-group nzPrefixIcon="user">
                      <input type="text" autofocus nz-input formControlName="userName" placeholder="jhondoe@mail.com" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Veuillez saisir votre mot de passe !">
                    <nz-input-group nzPrefixIcon="lock">
                      <input type="password" nz-input formControlName="password" placeholder="********" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-select [ngModel]="realms[0]" formControlName="realm">
                    <nz-option *ngFor="let realm of realms" [nzValue]="realm" [nzLabel]="realm"></nz-option>
                  </nz-select>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Se connecter</button>
              </form>
        </div>
    </div>
    <div nz-col nzSpan="12" class="img_login">
    </div>
</div>