.title_vm {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 800;
}

.card {
    padding: 3rem;
    min-width: 420px;
}

.info_dashboard_primary {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    color: black;
    margin-right: 1rem;
}

.info_dashboard_secondary {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    color: #34495e;
}

.info_interfaces {
    margin-top: 2rem;
}

nz-tag {
    font-size: 1.2rem;
}

nz-switch {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.eth_info {
    word-wrap: break-word;
}

.gauge_droite {
    position: absolute;
    right: 0;
}

.gauge_gauche {
    position: absolute;
    left: 0;
}

.gauge_mid {
    position: absolute;
    bottom: 0;
}

.command_section {
    margin-top: 2rem;
}

input {
    width: 20vw;
}

.result_command {
    min-width: 15vw;
    width: 15vw;
}