/* You can add global styles to this file, and also import other style files */

app-root {
    height: 100vh !important;
    display: block;
    background-color: #F5F8FF;
}

.card {
    background: #FFFFFF;
    box-shadow: 3px 2px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

app-auth {
    display: block;
    height: 85vh;
}

.row_login {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

app-node {
    margin-top: 15vh;
    display: block;
}

app-vm {
    display: block;
    margin: 15vh 20vw 0 20vw;
}

app-dashboard {
    display: block;
    margin: 15vh 10vw 0 10vw;
}