.data_row {
    margin-bottom: 1rem;
    margin-left: 5rem;
    height: 200px;
}

nz-statistic {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nz-col {
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
}